.list-container {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
}

.item-list {
  list-style: none;
  padding: 0;
}

.list-item {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 33%;
}

.list-item:hover {
  background-color: #e0e0e0;
}

.heart-button-wrapper {
  z-index: 1;
  top: -10px;
  right: 10px;
}

.recipe_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
}

.recipe_footer {
  padding-left: 20px;
}
.recipe-image-wrapper {
  width: 100%;
}

.recipe-image-wrapper img {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.delete-button {
  width: 100px;
}
